@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,700&display=swap');
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
  background-color: antiquewhite;
}
.faq-container {
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.faq {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  margin: 1rem 2rem;
  position: relative;
  padding: 2rem;
  max-width: 100%;
  font-size: 1.8rem;
  transition: all 0.4s ease;
  overflow: hidden;
  width: 60rem;
}
.faq.active {
  background-color: white;
}
.faq.active .toggle-down {
  display: none;
}
.faq.active .toggle-times {
  position: absolute;
  display: block;
  top: 12rem;
  left: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.3;
  font-size: 3rem;
}
.faq .toggle-down {
  position: absolute;
  display: block;
  top: 1rem;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.3;
  display: block;
  font-size: 2rem;
}
.faq .toggle-times {
  display: none;
}

.faq.active .faq-answer {
  display: block;
}
.faq .faq-answer {
  display: none;
}

.faq.active::before {
  content: '\f075';
  font-family: 'font awesome 5 free';
  color: green;
  opacity: 0.2;
  width: 10rem;
  height: 10rem;
  font-size: 10rem;
  position: absolute;
  z-index: 0;
  top: 0;
}
.faq.active::after {
  content: '\f075';
  font-family: 'font awesome 5 free';
  color: steelblue;
  opacity: 0.2;
  width: 3rem;
  height: 3rem;
  font-size: 10rem;
  position: absolute;
  transform: rotate(180deg);
  z-index: 0;
  top: 8rem;
}
